$bg-color: #3B495B;
$charcoal: #2D2D2D;

$light-charcoal: #7D7D7D;
$grey: #9b9b9b;
$light-grey: #546c78;

$bg-right-color: #222c31;
$bg-red-color: #ef4943;
$bg-grey-color: #e9ecef;


$white: #FFFFFF;
$white-nav: #FAFAFA;
$grass: #6ebb71;

$pink: #ce7871;
