<ul>
  <li><%= link_to 'create new project', new_project_path(@project) %></li>

</ul>

<h1>Projects Page</h1>

<% @projects.each do |project| %>
  <p><%= project.title %></p>
  <p><%= project.description %></p>
  <%= button_to "Delete Project", { action: "destroy", id: project.id },
                                 method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>
